.fotter_text{
    font-size: 10px;
}

@media (min-width: 768px) {
    .fotter_text{
        font-size: 10px;
    }
}
@media (min-width: 900px) {
    .fotter_text{
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .fotter_text{
        font-size: 18px;
    }
}